---
import Layout from '../../layouts/Layout.astro';
import data from '../../../public/data.json';
import '../../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../../components/products/cardCategory';
import ProductFeature from '../../components/products/productFeature';
import Navbar from '../../components/navbar';
import StoreDoubleColumn from '../../components/store/storeDoubleColumn';
import TestimonialsFade from '../../components/promo/testimonialsFade';
import PromoSectionLarge from '../../components/promo/promoSectionLarge';
import CardProduct from "../../components/products/cardProduct";
---

<Layout title="Ellek's Store">
    <main>
        <Navbar />
        <div class="container my-5 success-bucket">
            <div class="success-bucket center">
                <h2>Order Was Successful!</h2>
                (Not really!!!) Please be aware that this website is a fake e-commerce store for demonstration purposes only. Your actual payment has not been processed nor saved, and no actual products will be delivered.
                <br />
                <br />
                <img class="success-img" src="https://media.giphy.com/media/P1HOxaZSTcp4k/giphy.gif" alt="success gif">
                <br/>
                <br/>
                <a href="/">
                    <h4>Return To Store</h4>
                </a>
            </div>
            <br />
            <StoreDoubleColumn />
        </div>
    </main>

</Layout>

